.background-img {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-size: cover;
    background-image: url("../../images/landing.jpg");
    left: 0px;
    top: 0px;
    z-index: -1000;
}

body {
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin: 0;
}

h1 {
    font-family: Rozha One;
    line-height: 40px;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    letter-spacing: 0.15em;
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase
}