.content-container {
    display: flex;
    justify-content: right;
    width: 90%;
}

.timer-container{
    text-align: center;
    margin-top: 180px;
    width: 700px;
}

.timer {
    display: flex;
    justify-content: space-evenly;
}

.timer-num {
    display: flex;
}

.days0,.days1,.hours0,.hours1,.minutes0,.minutes1,.seconds0,.seconds1 {
    background: black;
    color: white;
    font-family: Rozha One;
    font-size: 48px;
    width: 58px;
    height: 72px;
    margin: 0 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
}

.timer p {
    font-family: Roboto;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 0.15em;
}

.until-drop p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}   