@import url("pages/home.css");
@import url("components/dropzone.css");
@import url("components/leezy.css");
@import url("components/timer.css");

@media screen and (max-width: 667px) {

    .background-img {
        height: 120vh;
        top: -32px;
    }

    .content-container {
        display:flex;
        width: 100%
    }

    .timer-container {
        margin: 327px 0px 0px 0px;
    }

    .timer {
        justify-content: space-evenly;
        margin: 0px 8px -6px;
    }

    .timer p {
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        margin-top: 0px;
    }

    .until-dropzone p {
        font-size: 18px;
        line-height: 40px;
        margin-top: -4px;
    }
    
    .leezy p {
        font-weight: 900;
        font-size: 24px;
        line-height: 40px;
        text-align: center;
        margin-bottom: 20px;
    }

    .days0,.days1,.hours0,.hours1,.minutes0,.minutes1,.seconds0,.seconds1 {
        width: 29px;
        height: 36px;
        font-size: 24px;
        margin: 0px 3px 8px;
    }
}   